.embed{
    overflow: scroll;
    height:600px;
    padding:0;
}

.alignleft{
    text-align: left;
}

.alignright{
    text-align: right;
}

.text-note{
    /*text-align: right;*/
    float: right;
    font-size: 0.6em;
    line-height: 1.6em;
    width: 60%;
}

.grid>.column{
    display: unset;
}

.stress /*强调*/{
    color: yellow;
    font-weight: 600;
}

hr{
    margin: unset;
    background: /*rgba(255, 255, 255, 0.8);*/radial-gradient(ellipse at left, rgba(255, 255, 255, 0.6) 0, rgba(255, 255, 255, 0.2) 75%);
}

.column ul li{
    list-style-type: circle;
}